* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.04);
}

.container {
  margin: auto;
  position: relative;
}

.content-wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 0px 10px;
}

.active {
  color: #5ece7b !important;
  border-bottom: 1px solid #5ece7b;
}
.active-color {
  border: 3px solid red !important;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

